include header
div
    .jumbotron
      h1 Experimet Central
      p
        | Get a giphy gallery or try my password API
      p
        a.btn.btn-primary.btn-lg(href='gallery?tag=trump') Get som Giphy
.col-lg-4
    .panel.panel-default
        .panel-heading
            h4  Trump Giphy
            a(href=api + "giphy/trump" target="_blank") Trump giphy example
        .panel-body
            | #{api}giphy/trump
.col-lg-4
    .panel.panel-default
        .panel-heading
            h4 Passwords in English API
            a(id="english_password" href=api + "password" target="_blank") English
        .panel-body
            | #{api}password
    .panel.panel-default
        .panel-heading
            h4 Passwords in Spanish API
            a(id="spanish_password" href=api + "palabras" target="_blank") Spanish
        .panel-body
            | #{api}palabras
    .panel.panel-default
        .panel-heading
            h4 Passwords in German API
            a(id="german_password" href=api + "worts" target="_blank") German
        .panel-body
            | #{api}worts
.col-lg-4
    .panel.panel-default
        .panel-heading
            h4 Passwords with special character
            a(href=api + "api/password?number=5&language=palabras&special=true" target="_blank") Flexyble API
        .panel-body
            | #{api}api/password?number=5&language=palabras&special=true